.footer-imagen img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
    display: block;
}

footer {
    width: 100%;
    padding: 2.5rem 0;
    background-color: $color-oscuro;
    text-align: center;
    color: $color-blanco;
    margin-top:auto;
}