.index-h2-power,
.index-h2-lab {
    text-transform: uppercase;
}

.index-h2-power {
    color: $color-blanco;
}

.index-h2-lab {
    color: $color-principal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background-color: $color-oscuro;
}

nav {

    ul {
        list-style: none;
        display: flex;
        gap: 1.5625rem;
    }

    a {
        text-decoration: none;
        color: $color-blanco;
    }

}